/* tira a borda branca ao redor do site */
body{
    margin: 0;
}

/* mexe no fundo do menu de cima, alinha tudo no meio e canto */
header{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

/* deixa o fundo no tamanho certo */
ul{
    display: flex;
}

/* muda o conteudo fora a logo, botando tudo no canto e dando espaçamento entre eles */
li{
    list-style-type: none;
    float: left;
    padding: 0px 15px;
}

/* muda o texto */
a{
    color: white;
    text-decoration: none;
}

h3{
    text-align: center;
}

/* adiciona as margens, os espaçamentos e a organizacao do conteudo */
section{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1%;
    flex-basis: 100px;
}

/* poe as imagens no tamanho certo */
article{
    flex: 300px;
}

/* tamanho medio e tamanho minimo da imagem */
img{
    width: 100%;
    min-width: 200px;
    height: auto;
}

/* cor, margem e alinhamento da legenda abaixo das imagens */
p{
    margin-top: 0px;
    text-align: center;
    color: gray;
}

/* site no tamanho menor */
@media (max-width: 670px){

    header{
        display: flex;
        flex-wrap: nowrap;
    }

    a{
        font-size: 40px;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    li{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 5px;
        
    }

    /* mexe apenas nos textos dentro do li */
    li > a{
        float: left;
        box-shadow: 1px 1px 1px 1px black;
        font-size: 15px;
        background-color: gray;
    }

    section{
        margin-left: 5%;
        margin-right: 5%;
    }
}